.footer {
  background-color: #eee;
  margin-top: 100px;
  .footer-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    .column {
      flex-basis: calc(33.33% - 20px);
      margin-bottom: 40px;
      img {
        width: 100%;
        max-width: 100px;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        line-height: 1.5;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          margin-bottom: 10px;
          a {
            color: #333;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    background-color: #ddd;
    padding: 20px;
    p {
      font-size: 14px;
      text-align: center;
      margin: 0;
    }
  }
  @media screen and (max-width: 768px) {
    .footer-body {
      padding: 20px;
      .column {
        flex-basis: 100%;
        margin-bottom: 20px;
        img {
          max-width: 100%;
        }
      }
    }
  }
}
