.form_layout {
  height: 100vh;
  background-color: var(--primary);
  @extend %center;
  gap: 20px;
  border-radius: 0;

  & > div {
    width: fit-content;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 100px var(--shadow);
    animation: fade-in 0.3s linear;
  }
  form {
    width: 400px;
  }
  label {
    display: block;
  }
  p,
  a {
    margin-left: 10px;
    font-weight: bold;
    font-size: small;
  }
  a {
    @extend %link;
  }

  input {
    @include input;
    margin-bottom: 20px;
  }
  select {
    margin-bottom: 20px;
    // appearance: none;
  }
  input[type="password"]::placeholder {
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 5px;
    opacity: 0.6;
  }
  textarea {
    @include textarea;
  }
  .btn-navigation {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    margin-top: 30px;
    button:disabled {
      border: none;
      opacity: 0.8;
      cursor: not-allowed;
      i {
        margin: 0;
        border: 0;
      }
    }
    button:active:disabled {
      transform: scale(1);
    }
  }

  .create_shop_page {
    .header {
      font-size: larger;
      font-weight: 600;
      padding-bottom: 15px;
      margin-bottom: 10px;
      border-bottom: 2px solid var(--border);
      border-radius: 0;
    }
  }
}
