.herotop {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 7px calc(100vw - 95%);
  margin-top: 100px;
  border-radius: 0px;

  .hero_content {
    width: 60%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    text-align: center;
    margin: auto;
    h1 {
      color: var(--secondary);
      text-transform: capitalize;
    }
    p {
      color: #ffffff;
      @include clamp(2);
    }
    button {
      @extend %button;
      width: fit-content;
      padding: 15px;
      margin: 0 auto;
    }
  }
}
