.product-card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px var(--shadow);
  overflow: hidden;
  .product-image {
    position: relative;
    cursor: pointer;
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }
  .product-details {
    padding: 20px;
    .product-name {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .product-price {
      font-size: 16px;
      margin-bottom: 10px;
      // background-color: var(--green);
    }
    .product-button {
      @extend %button;
      width: 100%;
    }
  }
}
