.side_menu_content {
  // position: fixed;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  padding-top: 80px;
  top: 0;
  z-index: 1;

  .nav_list {
    padding: 0;
  }
  .sidebar.open {
    width: 250px;
    .tooltip {
      display: none;
    }
    .links_name {
      opacity: 1;
      pointer-events: auto;
      transition: 0.4s ease;
    }
    ul li input {
      padding-right: 20px;
    }
    #btn {
      right: 10px;
      color: var(--primary);
      background-color: transparent;
      border: 1px solid transparent;
      opacity: 0.8;
      transition: transform 0.6s ease;

      &:hover {
        border: 1px solid var(--primary);
        transition: 0.1s linear;
      }
      &::after {
        content: "custom shop";
        position: absolute;
        width: 200px;
        right: 26px;
        text-transform: capitalize;
        font-weight: bold;
        font-family: verdana;
        color: var(--primary);
        opacity: 1;
      }
      i {
        transition: transform 0.6s ease;
      }
    }
    .active {
      background-color: var(--secondary);
      box-shadow: 0 0 14px var(--shadow);
      i {
        color: #ffffff;
      }
      .links_name {
        color: #ffffff;
      }
    }
  }
  .sidebar {
    z-index: 10;
    position: relative;
    top: 10px;
    left: 0;
    height: calc(100vh - 100px);
    width: 60px;
    background-color: var(--background);
    padding: 20px 5px 0 12px;
    transition: 0.4s ease;
    margin-left: 5px;
    // box-shadow: 0 0 10px var(--shadow);
    border: 1px solid var(--border);
    .active {
      background-color: var(--secondary);
      box-shadow: 0 0 14px var(--shadow);
      i {
        color: #ffffff;
      }
      .links_name {
        color: #ffffff;
      }
    }
    .bar {
      color: var(--writing);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 10px;
      text-transform: capitalize;
      position: absolute;
      top: 0;
      left: 0;
      height: 64px;
      width: 100%;
      text-align: right;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
    #btn {
      position: absolute;
      color: #ffffff;
      right: 10px;
      top: 6px;
      font-size: 20px;
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 40px;
      background-color: var(--blue);
      cursor: pointer;
      transition: transform 0.6s ease;
      i {
        cursor: pointer;
        transition: transform 0.6s ease;
      }
      &::after {
        opacity: 0;
      }
    }
    ul {
      margin-top: 20px;
    }
    ul li {
      position: relative;
      height: 45px;
      width: 100%;
      list-style: none;
      margin: 10px 0;
      left: -5px;
      transition: 0.2s ease;
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 500;
      border: 1px solid transparent;
      i {
        color: var(--writing);
        font-size: 16px;
        filter: drop-shadow(2px 2px 1px var(--shadow));
      }
      &:hover {
        // background-color: var(--primary);
        border: 1px solid var(--secondary);
        transition: 0.2s ease;
      }
    }
    ul li:hover .tooltip {
      top: 50%;
      transition: 0.4s ease;
      opacity: 1;
    }
    ul li .tooltip {
      position: absolute;
      left: 122px;
      top: 0;
      transform: translate(-50%, -50%);
      height: 45px;
      width: 122px;
      line-height: 45px;
      text-align: center;
      background-color: var(--background);
      color: var(--writing);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      transition: 0s;
      opacity: 0;
      pointer-events: none;
      // display: none;
    }
    ul li input {
      position: absolute;
      height: 40px;
      width: 100%;
      left: 0;
      top: 0;
      outline: none;
      border: none;
      background-color: var(--background);
      padding-left: 40px;
      color: var(--writing);
      opacity: 0.9;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 1px;
    }
    ul li a {
      color: var(--writing);
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: 0.4s ease;
      white-space: nowrap;
      height: 45px;
    }
    ul li i {
      height: 45px;
      min-width: 40px;
      line-height: 45px;
      text-align: center;
      cursor: pointer;
    }
    .links_name {
      opacity: 0;
      pointer-events: none;
      margin-left: 12px;
      transition: 0.4s ease;
      color: var(--writing);
    }
    .log_out {
      position: absolute;
      bottom: 0;
      height: 45px;
      width: 40px;
      margin: 10px 0;
      left: 9px;
    }
    .log_out:hover {
      border: 1px solid var(--border);
    }
  }
}

@media screen and (max-width: 800px) {
  .side_menu_content {
    .sidebar {
      ul li .tooltip {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .side_menu_content {
    position: fixed;
    top: 0;
    pointer-events: none;
    z-index: 10;
    .sidebar.open {
      &::after {
        background-color: var(--dark);
        left: 100%;
        transition: 0.4s ease;
        opacity: 0.5;
        pointer-events: all;
      }
      width: 80vw;
      transform: translateX(0px);
      .tooltip {
        display: none;
      }
      ul li input {
        padding-right: 20px;
      }
      #btn {
        transform: translateX(0);
        transition: 0.4s ease;
        &::after {
          right: 106px;
        }
      }
    }

    .sidebar {
      top: 0;
      height: 100vh;
      margin-left: 0px;
      border: none;
      transform: translateX(-70px);
      pointer-events: all;
      &::after {
        content: "";
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        background-color: black;
        right: 100vw;
        z-index: -3;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s ease;
      }
      #btn {
        transform: translateX(70px);
        transition: 0.4s ease;
        pointer-events: all;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .side_menu_content {
    .sidebar.open {
      #btn {
        &::after {
          right: 40px;
        }
      }
    }
  }
}
