.tags_input_box {
  margin-top: 30px;
  width: auto;
  background: var(--background);
  padding: 18px 25px 20px;
  box-shadow: 0 0 10px var(--shadow);
  & :where(.title, li, li i, .details) {
    display: flex;
    align-items: center;
  }
  .title h2 {
    font-size: 21px;
    font-weight: 600;
    margin-left: 8px;
  }
  .content {
    margin: 10px 0;

    p {
      font-size: 15px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 7px;
      margin: 12px 0;
      border: 1px solid var(--border);
    }
    ul li {
      color: var(--writing);
      margin: 4px 3px;
      list-style: none;
      background: var(--background);
      padding: 5px 8px 5px 10px;
      border: 1px solid var(--border);
    }
    ul li i {
      height: 20px;
      width: 20px;
      color: var(--writing);
      margin-left: 8px;
      font-size: 12px;
      cursor: pointer;
      background: var(--background);
      justify-content: center;
    }
    ul input {
      flex: 1;
      padding: 5px;
      border: none;
      outline: none;
      font-size: 16px;
    }
  }
  .details {
    justify-content: space-between;
  }
}
