.topbar {
  .top {
    background: var(--primary);
    padding-left: 20px;

    .logotext {
      color: #ffffff;
      font-weight: 300;
      font-size: 35px;
      width: 230px;
    }
  }

  .bottom {
    background: var(--secondary);
    display: flex;
    @extend %container;
    justify-content: space-between;

    .links {
      display: flex;
      gap: 15px;
      justify-content: center;
      align-items: center;
      a {
        color: #ffffff;
        text-decoration: none;
      }

      input {
        @include input;
      }
    }

    .cta-log {
      display: flex;
      gap: 15px;

      .signin {
        @extend %button;
        background-color: var(--background);
        color: var(--writing);
      }

      .login {
        @extend %button;
        background-color: var(--background);
        color: var(--writing);
      }
    }
  }
}
