.user_topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  z-index: 100;
  transition: all 0.3s ease;
  // transform: translateY(-40px);
  border-bottom: 1px solid var(--border);
  padding-right: 20px;
  border-radius: 0;

  &.scrolled {
    opacity: 1;
    transform: translateY(0);
    height: 80px;
    background-color: #ffffff;
    color: var(--writing);
    box-shadow: 0 2px 100px var(--shadow);
  }
  .logo {
    height: 35px;
    width: auto;
    margin-left: 10px;
  }
  .btn_preview {
    @extend %button-outline;
    font-weight: 500;
    text-decoration: none;
    color: var(--primary);
    i {
      color: var(--primary);
    }
  }
  .menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    ul {
      display: flex;
      list-style: none;
      li {
        margin-right: 20px;
        position: relative;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        &:hover::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #000;
          animation: fade-in 0.2s ease forwards;
        }
      }
    }
    @media screen and (max-width: 768px) {
      position: fixed;
      top: 80px;
      left: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease;
      &.open {
        height: auto;
        background-color: var(--background);
        padding: 10px;
      }
      ul {
        flex-direction: column;
        li {
          margin: 0;
          padding: 10px 20px;
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
  .menu-toggle {
    display: none;
    i {
      font-size: 20px;
      height: 40px;
      width: 40px;
      @extend %center;
    }
    @media screen and (max-width: 768px) {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
}
