.user_product_cart {
  background-color: #fff;
  box-shadow: 0 2px 4px var(--shadow);
  overflow: hidden;
  .image {
    position: relative;
    cursor: pointer;
    img {
      width: 100%;
      height: 100px;
      object-fit: cover;
      border-radius: 0;
    }
  }
  .details {
    padding: 10px;
    .name {
      font-size: 18px;
    }
    .price {
      font-size: 16px;
      // background-color: var(--green);
    }
    button {
      @extend %button-outline;
      border: none;
      height: 25px;
      width: 25px;
      i {
        font-size: large;
        margin: 0;
        border: none;
        padding: 0;
      }
    }
    .trash {
      i {
        color: var(--danger);
      }
    }
    .action {
      display: flex;
      justify-content: flex-end;
    }
  }
}
