.user_dashboard_layout {
  .user_section {
    display: flex;
    main {
      width: 100%;
      padding: 120px;
      max-height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}
@media screen and (max-width: 600px) {
  .user_dashboard_layout {
    main {
      margin-left: 0;
    }
  }
}
