.user_dasboard_layout {
  main {
    margin-left: 80px;
    padding: 120px 20px 20px 20px;
  }
}
@media screen and (max-width: 600px) {
  .user_dasboard_layout {
    main {
      margin-left: 0;
    }
  }
}
