.user_dashboard_layout {
  .user_section {
    display: flex;
    main {
      width: 100%;
      padding: 120px;
      max-height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  @include breakpoint(md) {
    .user_section {
      main {
        padding: 120px 40px;
      }
    }
  }
  @include breakpoint(sm) {
    .user_section {
      main {
        padding: 120px 20px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    main {
      margin-left: 0;
    }
  }
}
