.user_product {
  .section {
    header {
      display: flex;
      gap: 10px;
      margin-bottom: 25px;
      justify-content: flex-end;
      flex-wrap: wrap;
      input {
        width: 150px;
      }
      select {
        width: auto;
      }
    }
    max-width: 1200px;
    margin: auto;
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      @include breakpoint(sm) {
        grid-template-columns: 1fr 1fr;
      }
      @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
.add_product_form {
  input,
  textarea {
    margin-bottom: 10px;
  }
  .quill {
    .ql-toolbar.ql-snow {
      border-radius: 10px 10px 0 0;
    }
    .ql-container.ql-snow {
      border-radius: 0 0 10px 10px;
      .ql-editor {
        height: 150px;
        border-radius: 0;
      }
    }
  }
  label {
    margin-bottom: 6px;
    display: block;
  }

  .input_group {
    padding: 20px;
    padding: 20px;
    background-color: var(--background);
    @extend %box_shadow;
    margin-bottom: 40px;
  }

  .input_group.price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 20px;

    input::after {
      content: attr(devise);
      position: absolute;
      height: 100px;
      width: 100px;
      background-color: red;
      top: 0;
      right: 0;
    }
  }

  .input_group.multimedia {
    & > span {
      margin-bottom: 6px;
      display: block;
    }
    mark {
      text-align: center;
    }

    .box_image {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 20px;
      position: relative;
      @include breakpoint(sm) {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      div,
      label {
        @extend %center;
        position: relative;
        padding: 20px;
        cursor: pointer;
        height: 150px;
      }

      div {
        background-color: var(--accent);
        border: 2px solid var(--border);
        background-size: cover;
        background-position: center;
      }
      label {
        // opacity: 0.6;
        border: 2px dashed var(--primary);
        & > span {
          @extend %center;
          flex-direction: column;
          gap: 10px;
          margin: 0;
          word-break: break-all;
        }
      }
      i.fa-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
      span.file_accept {
        display: flex;
        gap: 10px;
        em {
          font-size: smaller;
          font-weight: bold;
          font-style: normal;
          margin: 0;
        }
      }
    }
  }
  .input_group.autre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .buttons {
    display: flex;
  }
}

@include breakpoint(xs) {
  .user_product {
    .add_product_form .input_group.autre {
      display: flex;
      flex-direction: column;
    }
    .section :where(input) {
      width: 100% !important;
    }
    .section :where(select) {
      width: 46% !important;
    }
    .section header {
      justify-content: space-between;
      button {
        width: 100%;
      }
    }
    .section {
      margin-top: -30px;
    }
  }
}
@media screen and (max-width: 380px) {
  .user_product {
    .add_product_form .input_group.autre .buttons {
      display: flex;
      flex-direction: column;
      button {
        margin-right: 0 !important;
        margin-bottom: 10px;
      }
    }
  }
}
