.user_product {
  .section {
    header {
      display: flex;
      gap: 10px;
      margin-bottom: 25px;
      justify-content: flex-end;
      flex-wrap: wrap;
      input,
      select {
        @include input($height: 40px);
      }
      input {
        width: 200px;
      }
      select {
        width: auto;
      }
    }
    max-width: 1200px;
    margin: auto;
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
.add_product_form {
  padding: 20px;
  background-color: var(--background);
  border: 1px solid var(--border);
  box-shadow: 0 0 10px var(--shodow);
  input,
  textarea {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 550px) {
  .user_product {
    .section :where(select, input, button) {
      width: 100% !important;
    }
  }
}
