.user_product {
  .section {
    header {
      display: flex;
      gap: 10px;
      margin-bottom: 25px;
      justify-content: flex-end;
      flex-wrap: wrap;
      input {
        width: 200px;
      }
      select {
        width: auto;
      }
    }
    max-width: 1200px;
    margin: auto;
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
.add_product_form {
  input,
  textarea {
    margin-bottom: 10px;
  }
  label {
    margin-bottom: 6px;
    display: block;
  }

  .input_group {
    padding: 20px;
    padding: 20px;
    background-color: var(--background);
    @extend %box_shadow;
    margin-bottom: 40px;
  }
  .input_group.price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 20px;

    input::after {
      content: attr(devise);
      position: absolute;
      height: 100px;
      width: 100px;
      background-color: red;
      top: 0;
      right: 0;
    }
  }
  .input_group.multimedia {
    input {
      display: none;
    }
    span {
      display: block;
      margin-bottom: 10px;
    }
    label {
      span {
        margin: 0;
        margin-right: 10px;
      }
      opacity: 0.6;
      @extend %center;
      position: relative;
      background-color: var(--background);
      padding: 20px;
      border: 2px dashed var(--primary);
      cursor: pointer;
      height: 150px;
    }
  }
  .input_group.autre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .buttons {
    display: flex;
  }
}

@include breakpoint(xs) {
  .user_product {
    .add_product_form .input_group.autre {
      display: flex;
      flex-direction: column;
    }
    .section :where(input) {
      width: 100% !important;
    }
    .section :where(select) {
      width: 46% !important;
    }
    .section header {
      justify-content: space-between;
      button {
        width: 100%;
      }
    }
    .section {
      margin-top: -30px;
    }
  }
}
@media screen and (max-width: 380px) {
  .user_product {
    .add_product_form .input_group.autre .buttons {
      display: flex;
      flex-direction: column;
      button {
        margin-right: 0 !important;
        margin-bottom: 10px;
      }
    }
  }
}
