.user_product_detail {
  grid-column: span 3;
  height: fit-content;
  overflow: hidden;
  padding: 15px 10px;
  display: grid;
  grid-template-columns: 40% auto;
  background-color: #fff;
  @extend %box_shadow;

  @include breakpoint(sm) {
    display: flex;
    flex-direction: column;
    .image {
      padding-right: 0;
      img {
        padding: 0;
      }
    }
  }

  .image {
    position: relative;
    cursor: pointer;
    padding-right: 10px;
    height: fit-content;
    img {
      width: 100%;
      object-fit: cover;
    }
    i {
      position: absolute;
      bottom: 20px;
      right: 20px;
      background-color: var(--accent);
      height: 35px;
      width: 35px;
      @extend %center;
    }
    i:hover {
      background-color: var(--border);
    }
  }
  .details {
    padding: 10px 5px 10px 15px;
    border-left: 1px solid var(--border);
    border-radius: 0;

    @include breakpoint(sm) {
      border-left: none;
    }
    p {
      margin-bottom: 10px;
    }
    .name {
      font-size: larger;
      font-weight: bold;
    }
    .discount_box {
      display: flex;
      gap: 10px;
    }
    .discount,
    .percentage {
      font-size: 14px;
      s {
        color: var(--danger);
      }
    }
    .description {
      padding: 5px;
      background-color: var(--accent);
      display: block;
      li {
        list-style: none;
      }
    }
    button {
      margin-top: 10px;
      i {
        font-size: large;
        margin: 0;
        border: none;
        padding: 0;
      }
    }
    .trash {
      @extend %button-outline;
      border-color: var(--danger);
    }
    .edit {
      @extend %button;
    }
    .action {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
  }
}
