.custom_shop {
  section {
    background-color: var(--background);
    margin-top: 20px;
    margin-bottom: 40px;
    @extend %box_shadow;
  }
  .current_theme {
    background-color: var(--secondary-50);
    .cover {
      height: 500px;
      background-size: cover;
      background-position: center;
      position: relative;
      & > div {
        background-color: var(--background);
        border: 1px solid var(--border);
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        .card_theme {
          display: grid;
          grid-template-columns: 110px auto;
          img {
            width: 100px;
            height: 80px;
            border: 1px solid var(--border);
          }
          .name {
            font-weight: 600;
          }
          .date {
            font-size: 14px;
            opacity: 0.8;
          }
        }
      }
    }
  }

  .choise_theme {
    padding: 20px;
    .themes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
    & > span {
      margin-bottom: 20px;
      display: block;
    }

    .card_theme {
      border: 1px solid var(--border);
      overflow: hidden;
      &.active {
        border: 1px solid var(--secondary);
      }
      .image {
        position: relative;
        cursor: pointer;
        img {
          border-radius: 0px;
          width: 100%;
          height: 150px;
          object-fit: cover;
        }
      }
      .details {
        border-top: 1px solid var(--border);
        border-radius: 0;
        padding: 10px;
        .name {
          font-size: 18px;
        }
        .date {
          font-size: 14px;
          margin-bottom: 10px;
          opacity: 0.8;
          // background-color: var(--green);
        }
      }
      .button {
        width: 100%;
      }
    }
  }

  .shop_info {
    .cover {
      height: 150px;
      position: relative;
      border-radius: 10px 10px 0 0;

      .logo {
        border-radius: 50%;
        position: absolute;
        bottom: -55px;
        left: 40px;
        height: 115px;
        width: 115px;
        border: 4px solid var(--secondary);
        @extend %center;
      }

      .logo {
        label {
          position: absolute;
          height: inherit;
          width: inherit;
          background-color: var(--secondary-50);
          @extend %center;
          border-radius: 50%;
          opacity: 0;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
        }
        img {
          border-radius: 50%;
          height: 100px;
          width: 100px;
        }
      }
      .logo:hover {
        label {
          opacity: 0.8;
        }
      }
    }
    .content {
      display: grid;
      grid-template-columns: 200px auto;

      .box_info {
        padding: 20px;
        border-left: 1px solid var(--border);
        padding-left: 10px;
        border-radius: 0;

        ul {
          padding-top: 30px;
          li {
            display: grid;
            grid-template-columns: 50px auto;
            padding: 10px;
            border-bottom: 1px solid var(--border);
            border-radius: 0;
            margin: 5px 0;
          }
        }
        a {
          display: block;
          margin-top: 30px;
        }
      }
      .box_info.form {
        ul li {
          margin: 0;
          border: none;
          padding: 5px;
          label {
            margin-bottom: 5px;
            display: block;
          }
          input {
            height: 40px;
          }
        }
        .buttons {
          display: flex;
          margin-top: 30px;
          gap: 20px;
          margin-left: 50px;

          .cancel {
            border-color: var(--danger);
          }
        }
      }
    }
  }
}
