@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomInY {
  0% {
    opacity: 0;
    transform: scaleY(0.9);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes zoomInX {
  0% {
    opacity: 0;
    transform: scaleX(0.9);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes move {
  0% {
    top: 35px;
    right: 48px;
  }
  50% {
    top: 0px;
    right: 16px;
  }
  100% {
    top: 25px;
    right: 16px;
  }
}

// fadeInUP animations
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 400ms;
  animation-fill-mode: both;
  -webkit-animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}
.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
// end fadeInUp ..........................

// ___________________________________________
@keyframes swing {
  25% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(-15px);
  }
  75% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(-15px);
  }
}
// ___________________________________________

// ___________________________________________
@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80%,
  100% {
    transform: translateX(0);
  }
}
@keyframes hide_toast {
  0% {
    transform: translateX(20px);
  }
  40% {
    transform: translateX(-10%);
  }
  80%,
  100% {
    pointer-events: none;
    transform: translateX(110%);
  }
}
@keyframes show_toast_mobile {
  0% {
    transform: translateY(-100%);
  }
  40% {
    transform: translateY(10%);
  }
  80%,
  100% {
    transform: translateY(0px);
  }
}
@keyframes hide_toast_mobile {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(10%);
  }
  80%,
  100% {
    pointer-events: none;
    transform: translateY(-170%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
// ___________________________________________
