@mixin input($height: 45px, $width: 100%) {
  height: $height;
  width: $width;
  border: none;
  outline: none;
  padding-left: 14px;
  padding-right: 20px;
  border: 1px solid var(--border);
  background-color: var(--input-accent);
  color: var(--writing);

  &:focus {
    border-color: var(--secondary);
  }
}
@mixin textarea($height: 100px, $width: 100%, $max-height: 250px) {
  @include input($height: $height);
  padding-top: 10px;
  resize: vertical;
  max-height: $max-height;
  min-height: $height;
}

@mixin clamp($limit: 3) {
  display: -webkit-box;
  -webkit-line-clamp: $limit;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
// @mixin color-opacity(
//   $property: background-color,
//   $color: $primary,
//   $opacity: 0.5
// ) {
//   $rgba-color: rgba($color, $opacity);
//   #{$property}: $rgba-color;
// }
@mixin textgradient(
  $color1: var(--primary),
  $color2: var(--blue),
  $deg: 223deg
) {
  background: linear-gradient($deg, $color1, $color2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
