%button {
  height: 40px;
  border: none;
  outline: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  font-weight: 300;
  font-size: 16px;
  padding: 0 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.2s linear;

  i {
    color: #ffffff;
  }

  &:active {
    transform: scale(0.98);
  }
  &:focus {
    border-width: 2px;
  }
  &:hover {
    background-color: var(--secondary);
  }
}

%button-outline {
  @extend %button;
  border: 1px solid var(--primary);
  background: transparent;
  color: var(--writing);
  i {
    color: var(--writing);
  }
  &:hover {
    background-color: transparent;
    border-color: var(--secondary);
    color: var(--secondary);
    i {
      color: var(--secondary);
    }
  }
}

%tooltip {
  position: absolute;
  left: 50%;
  top: 0px;
  font-size: 16px;
  font-family: $font;
  font-weight: normal;
  text-transform: lowercase;
  transform: translate(-50%, -50%);
  min-width: fit-content;
  height: fit-content;
  width: fit-content;
  padding: 5px 10px;
  text-align: center;
  background-color: var(--background);
  color: var(--ecriture);
  box-shadow: 0 5px 10px #00000033;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
}

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%search_group {
  position: relative;
  input {
    height: 20px;
    @include input();
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    color: var(--primary);
    background-color: transparent;
    @extend %button;
  }
}

.search_group {
  @extend %search_group;
}
.button {
  @extend %button;
}
.button-outline {
  @extend %button-outline;
}
.center {
  @extend %center;
}
.text-accent {
  color: var(--primary);
  font-weight: 700;
}
.input {
  @include input;
}
.textarea {
  @include textarea;
}
