* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: static;
  // overflow-x: hidden;
  color: var(--writing);
  font-family: $font;
}
::selection {
  background-color: var(--secondary);
  color: white;
}
html {
  overflow-x: hidden;
}
mark {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

body {
  background-color: var(--background);
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// pour le conteneur du skeleton
span[aria-live="polite"],
.LazyLoad.is-visible {
  width: 100%;
  display: block;
}
