* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: static;
  // overflow-x: hidden;
  color: var(--writing);
  font-family: $font;
  border-radius: 10px;
}
::selection {
  background-color: var(--secondary);
  color: white;
}
body,
html,
main,
header {
  border-radius: 0;
}
html {
  overflow-x: hidden;
}
mark {
  background-color: var(--accent);
  border: 1px solid var(--border);
  color: var(--primary);
  padding: 0 10px;
}
label > em {
  font-style: normal;
  opacity: 0.6;
}

body {
  background-color: #f1f2f4;
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// pour le conteneur du skeleton
span[aria-live="polite"],
.LazyLoad.is-visible {
  width: 100%;
  display: block;
}

// Toastify //

.Toastify__toast {
  border-radius: 10px;
  .Toastify__toast-body {
    padding: 15px;
  }
}
